<div class="container text-center">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="section-title">About Person Project</h2>
    <h4 class="our-team">Meet Our Team</h4>
    <img src="images/Diana.jpg" alt="Diana's portrait">
    <br>
    <p class="name">Diana Tamir</p>
    <p class="org-title">Director</p>
    <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
  </div>
</div>
