<uib-tab  heading="Utils">
    <h3>mwFormResponseUtils service</h3>
    <br />
    <h4><a ng-click="ctrl.cmergeFormWithResponse = !ctrl.cmergeFormWithResponse"  href="#mergeFormWithResponse" aria-expanded="false" aria-controls="collapseExample"> mergeFormWithResponse(formData, responseData)</a></h4>
    <div uib-collapse="ctrl.cmergeFormWithResponse" id="mergeFormWithResponse">
        <div class="well">
            <pre>
{{ctrl.getMerged() | json}}
            </pre>
        </div>
    </div>

    <h4><a ng-click="ctrl.cgetQuestionWithResponseList = !ctrl.cgetQuestionWithResponseList" href="#getQuestionWithResponseList" aria-expanded="false" aria-controls="collapseExample"> getQuestionWithResponseList(formData, responseData)</a></h4>
    <div uib-collapse="ctrl.cgetQuestionWithResponseList" id="getQuestionWithResponseList">
        <div class="well">
            <pre>
{{ctrl.getQuestionWithResponseList() | json}}
            </pre>
        </div>
    </div>

    <h4><a ng-click="ctrl.cgetResponseSheetHeaders = !ctrl.cgetResponseSheetHeaders"  href="#getResponseSheetHeaders" aria-expanded="false" aria-controls="collapseExample"> getResponseSheetHeaders(formData, withQuestionNumbers)</a></h4>
    <div uib-collapse="ctrl.cgetResponseSheetHeaders" id="getResponseSheetHeaders">
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.headersWithQuestionNumber"> withQuestionNumbers
                </label>
            </div>
            <pre>
{{ctrl.getResponseSheetHeaders() | json}}
            </pre>
        </div>
    </div>

    <h4><a ng-click="ctrl.cgetResponseSheetRow = !ctrl.cgetResponseSheetRow" href="#getResponseSheetRow" aria-expanded="false" aria-controls="collapseExample"> getResponseSheetRow(formData, responseData)</a></h4>
    <div  uib-collapse="ctrl.cgetResponseSheetRow" class="collapse" id="getResponseSheetRow">
        <div class="well">
            <pre>
{{ctrl.getResponseSheetRow() | json}}
            </pre>
        </div>
    </div>

    <h4><a ng-click="ctrl.cgetResponseSheet = !ctrl.cgetResponseSheet" href="#getResponseSheet" aria-expanded="false" aria-controls="collapseExample"> getResponseSheet(formData, responseDataObjectOrList, headersWithQuestionNumber)</a></h4>
    <div uib-collapse="ctrl.cgetResponseSheet" id="getResponseSheet">
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.headersWithQuestionNumber"> headersWithQuestionNumber
                </label>
            </div>

            <pre>
{{ctrl.getResponseSheet() | json}}
            </pre>
        </div>
    </div>

</uib-tab>
