<div class="container">
  <div class="row">
    <h2 class="col-md-12">Configure Survey Scoring</h2>
  </div>
  <div class="row">
    <h3 class="col-md-12">Axes <small>(plural of axis)</small></h3>
    <div class="col-md-12" style="padding: 30px 0;">
      <button
	 class="btn btn-default pull-right"
	 ng-click="addAxis()"
	 >Add Axis</button>
    </div>
  </div>
  <div
     class="row"
     ng-repeat="axis in survey.scoring.axes track by $index"
     ng-init="axisIndex = $index">
    <div class="form-group col-md-4">
      <input
	 type="text"
	 name="name"
	 placeholder="name"
	 ng-model="axis.name">
      <button
	 class="btn btn-sm btn-default"
	 ng-click="removeAxis(axisIndex)">Remove</button>
    </div>
    <div
       class="col-md-4 col-md-offset-4 form-group">
      <label>Add Question to Axis</label>
      <select
	 ng-model="axis.pendingQuestionId"
	 ng-change="addQuestion(axisIndex, axis.pendingQuestionId)">
	<option
	   ng-repeat="question in availableQuestions(axisIndex)"
	   value="{{question.id}}"
	   >{{question.text}}</option>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <textarea rows="4" ng-model="axis.description" class="form-control" placeholder="Description"></textarea>
    </div>
    <div
       class="col-md-12"
       ng-repeat="question in axis.questions track by $index">
      <div
	 class="panel">
	<div class="panel-header">
	  <h4 class="panel-title">{{question.text}}</h4>
	</div>
	<div class="panel-body">
	  <label>Scoring Type</label>
	  <select
	     ng-model="question.scoreType"
	     ng-change="changeScoreType(question, axis)">
	    <option value="weights">Weights</option>
	    <option value="script">Script</option>
	  </select>
	  <div
	     ng-if="question.scoreType == 'weights'"
	     ng-repeat="weight in question.weights track by $index">
	    {{weight.label}}
	    <br>
	    <input type="number" ng-model="weight.axisScore" class="form-control">
	  </div>
	  <div ng-if="question.scoreType == 'script'" class="row">
	    <div class="col-md-12">
	      <p>
		Scoring Script:
	      </p>
	      <ui-codemirror
		 ng-model="question.script"
		 ui-codemirror-opts="editorOptions"></ui-codemirror>
	    </div>
	    <div class="col-md-6">
	      <p>
		Example function:
	      </p>
	      <div hljs hljs-source="questionScriptExample(question)"></div>
	    </div>
	    <div class="col-md-6">
	      <p>
		Response Reference:
	      </p>
	      <div hljs hljs-source="questionScriptReference(question)"></div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="row" style="padding:30px 0;">
    <div class="col-md-12">
      <button
	 class="btn btn-primary"
	 ng-click="updateScoring()"
	 >Update</button>
      <button
	 class="btn pull-right"
	 ui-sref="admin.surveys.show({id: survey.id})"
	 >Back</button>
    </div>
  </div>
  <div hljs hljs-source="survey.scoring | json"></div>
  <br>
  <div hljs hljs-source="allQuestions | json"></div>
  <br>
  <div hljs hljs-source="devQuestions | json"></div>
  <br>
</div>
