<div class="container">
  <div class="well col-md-6 col-md-offset-3">
    <dl class="dl-horizontal">
      <dt>ID</dt><dd>{{survey.id}}</dd>
      <dt>Name</dt><dd>{{survey.name}}</dd>
      <dt>Version</dt><dd>{{survey.version}}</dd>
      <dt>Status</dt><dd>{{survey.status | uppercase}}</dd>
      <dt>Est. Time</dt><dd>{{survey.est_time | secondsToDateTime | date:'HH:mm:ss'}}</dd>
      <dt>Created At</dt><dd>{{survey.created_at | date:'medium'}}</dd>
      <dt>Updated At</dt><dd>{{survey.updated_at | date:'medium'}}</dd>
    </dl>
    <button
       class="btn btn-primary"
       ui-sref="admin.surveys.schema({id: survey.id})"
       >Schema</button>
    <button
       class="btn btn-primary"
       ui-sref="admin.surveys.scoring({id: survey.id})"
       >Scoring</button>
    <button
       class="btn btn-warning"
       ng-if="showPublish()"
       ng-click="publish()"
       >Publish</button>
    <button
       class="btn btn-warning"
       ng-if="showUnpublish()"
       ng-click="unpublish()"
       >Unpublish</button>
    <button
       class="btn btn-warning"
       ng-if="showDisable()"
       ng-click="disable()"
       >Disable</button>
    <button
       class="btn btn-warning"
       ng-click="download()"
       >Download</button>
    <button
       class="btn pull-right"
       ui-sref="admin.surveys.index"
       >Back</button>
  </div>
</div>
