<div class="container">
  <div class="page-header">
    <h3>Researcher Dashboard</h3>
  </div>
  <ul class="nav nav-pills">
    <li ng-class="{active: $state.includes('admin.surveys')}">
      <a ui-sref="admin.surveys.index">Surveys</a>
    </li>
    <li ng-class="{active: $state.includes('admin.responses')}">
      <a ui-sref="admin.responses.index">Responses</a>
    </li>
    <li ng-class="{active: $state.includes('admin.experiments')}">
      <a ui-sref="admin.experiments.index">Experiments</a>
    </li>
    <li ng-class="{active: $state.includes('admin.users')}">
      <a ui-sref="admin.users.index">Users</a>
    </li>
  </ul>
</div>
<br>
<div ui-view></div>

