<div class="container">
  <div ng-if="!hasToken" class="col-md-6 col-md-offset-3">
    <form ng-submit="resetPassword()">
      <div class="form-group">
	<h3 class='form-title'>Reset Password</h3>
	<label for="email">Username Or E-mail</label>
	<input ng-model="resetForm.emailOrUsername" type="text" class="form-control" id="email" placeholder="Username">
      </div>
      <div class="form-group">
	<a ui-sref="user.signup">Create an account</a> or <a ui-sref="user.signin">sign in.</a>
      </div>
      <button type="submit" class="btn btn-default">Recover Account</button>
    </form>
  </div>
  <div ng-if="hasToken" class="col-md-6 col-md-offset-3">
    <form ng-submit="changePassword()">
      <h3 class="form-title">Enter New Password</h3>
      <div class="form-group">
	<label for="password">New Password</label>
	<input ng-model="changeForm.password" type="password" class="form-control" id="password" placeholder="New Password">
      </div>
      <div class="form-group">
	<label for="passwordConfirmation">Confirm Password</label>
	<input ng-model="changeForm.passwordConfirmation" type="password" class="form-control" id="passwordConfirmation" placeholder="Confirm Password">
      </div>
       <button type="submit" class="btn btn-default">Update Password</button>
    </form>
  </div>
</div>
